/* LOGO COLOR PALETTE */
/* NAVBAR COLORS */
/* (CC) 80% opacity */
/* (80) 50% opacity */
/* (4D) 30% opacity */
/* INDEX PAGE BODY COLORS */
/* (26) 15% opacity */
/* (0D) 5% opacity */
/* (1A) 10% opacity */
/* (B3) 70% opacity */
/* (CC) 80% opacity */
/* (80) 50% opacity */
/* (B3) 70% opacity */
/* (CC) 80% opacity */
/* (80) 50% opacity */
/* (B3) 70% opacity */
/* (CC) 80% opacity */
/* (80) 50% opacity */
/* MODAL COLORS */
/* (E6) 90% opacity */
/* (E6) 90% opacity */
/* FONTS */
/*$primary-font: "Raleway", sans-serif;*/
/*$primary-font: "Urbanist", sans-serif;*/
html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: "Manrope", sans-serif;
  color: #0D0F13;
  /*background: linear-gradient(270deg, white, #91969e);
        background-size: 400% 400%;
    
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;

    
        @-webkit-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }*/ }

.fade-content {
  display: none; }

.navbar {
  background: linear-gradient(to bottom, #222831CC, #37414F80);
  font-weight: 300;
  text-shadow: 0.5px 0.5px #0D0F13; }
  .navbar .active .nav-link {
    background: #37414F4D;
    border-radius: .25rem;
    color: #D8C690; }
  .navbar .nav-link {
    color: #E9E9E9; }
    .navbar .nav-link:hover {
      color: #D8C690; }

.index-text-content {
  background: linear-gradient(to bottom, #37414F26, #37414F0D);
  border: 4px outset #37414F1A; }
  @media (max-width: 768px) {
    .index-text-content {
      border: none; } }
  .index-text-content h1 {
    font-size: 60px;
    font-weight: 300;
    color: #222831; }
    @media (max-width: 768px) {
      .index-text-content h1 {
        font-size: 38px; } }
  .index-text-content p {
    font-size: 18px;
    font-weight: 200; }
    @media (max-width: 768px) {
      .index-text-content p {
        font-size: 15px; } }

.btn-green {
  background: linear-gradient(to bottom, #198754, #198754B3);
  color: white;
  font-weight: 200;
  border: 1px outset #198754; }
  .btn-green:hover, .btn-green:focus, .btn-green:active {
    background: linear-gradient(to bottom, #198754CC, #19875480);
    border: 1px inset #198754CC; }

.btn-gold {
  background: linear-gradient(to bottom, #CCAB47, #CCAB47B3);
  color: white;
  font-weight: 200;
  border: 1px outset #CCAB47; }
  .btn-gold:hover, .btn-gold:focus, .btn-gold:active {
    background: linear-gradient(to bottom, #CCAB47CC, #CBB26A80);
    border: 1px inset #CCAB47CC; }

.btn-blue {
  background: linear-gradient(to bottom, #0D6EFD, #0D6EFDB3);
  color: white;
  font-weight: 200;
  border: 1px outset #0D6EFD; }
  .btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    background: linear-gradient(to bottom, #0D6EFDCC, #0D6EFD80);
    border: 1px inset #0D6EFD; }

.member-login {
  background: #222831E6;
  border: 2px outset #222831; }
  .member-login .modal-header {
    border-bottom: none; }

.new-reg {
  background: #222831E6;
  border: 2px outset #222831; }
  .new-reg .modal-header {
    border-bottom: none; }
